<h1 mat-dialog-title>{{tituloAccion}} Empleado</h1>
<div mat-dialog-content >
  <form [formGroup]="formEmpleado">
    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="telefono" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="area">
            <mat-option *ngFor="let food of listaDepartamentos" [value]="food.id">
              {{food.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
  <button mat-raised-button mat-dialog-close color="primary" (click)="addEditEmpelado()" [disabled]="formEmpleado.invalid">{{botonAccion}}</button>
</div>
